@import "styles/config";

.page {
  padding: 4rem 0 8rem;
  .container {
    max-width: 780px;
    a {
      color: #3980ff;
      &:hover {
        color: inherit;
      }
    }
    img {
      display: block;
      width: 100%;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.25rem;
    }
    h5 {
      font-size: 1.125rem;
    }
  }
  .breadcrumbs {
    margin-bottom: 2rem;
    a {
      margin-right: 0.75rem;
      color: #3980ff;
      &:hover {
        color: initial;
      }
      + a {
        &::before {
          content: "/";
          display: inline-block;
          margin-right: 0.75rem;
          color: #3980ff;
        }
      }
    }
  }
  .title {
    margin-bottom: 1rem;
  }
  .image {
    margin-bottom: 2rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .content {
    color: rgb(71, 71, 71);
    font-size: 1.125rem;
    line-height: 1.6;
  }
}

@media (max-width: $viewportSizeLarge) {
  .page {
    padding: 2rem 0 4rem;
  }
}

@media (max-width: $viewportSizeMedium) {
  .page {
    padding: 0 0 4rem;
  }
}

@media (max-width: $viewportSizeSmall) {}

@media (max-width: $viewportSizeExtraSmall) {}
