@import "styles/config";

.container {
  position: relative;
  width: 566px;
  max-width: 100%;
  height: 65vw;
  background: #eef6fe;
  mask-image: url(/images/accounts-payable-workflow-bulk-upload-documents.svg);
  mask-repeat: no-repeat;
  mask-mode: alpha;
  mask-position: bottom right;
  mask-size: 100%;
  mask-origin: border-box;
}

.background {
  width: 100%;
  max-width: 560px;
  height: 100%;
  max-height: 389px;
}

.animation {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 10px;
  left: 10px;
  height: 68%;
  margin: auto;
}

@media screen and (min-width: 715px) {
  .animation {
    top: 40px;
  }
}

@media screen and (min-width: $viewportSizeMedium) {
  .container {
    height: 389px;
  }

  .animation {
    top: 10px;
    right: initial;
    bottom: initial;
    left: 0;
    height: 81%;
    margin: initial;
  }
}
