@import "styles/config";

.formBlock {
  position: relative;
  margin-top: 240px;
  margin-bottom: -88px;
  .formContainer {
    @extend %gradientBgWithDecors;
    position: relative;
    z-index: 2;
    width: 50%;
    margin-top: -50px;
    margin-left: auto;
    padding: 98px 60px;
    border-radius: $borderRadius;
    color: $colorWhite;
    .title {
      margin-bottom: 8px;
      font-size: 36px;
      font-weight: 600;
      line-height: 43px;
      text-align: center;
    }
    .subTitle {
      margin-bottom: 28px;
      color: $colorAdditionalLight;
      line-height: 1.5;
      text-align: center;
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .formBlock {
    margin-top: 180px;
    .formContainer {
      padding: 66px 40px;
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .formBlock {
    .formContainer {
      width: 60%;
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .formBlock {
    margin-top: 120px;
    margin-bottom: -76px;
    :global(.container) {
      padding: 0;
    }
    .formContainer {
      z-index: 0;
      width: 100%;
      margin: 0;
      padding: 120px 16px;
      border-radius: 0;
      clip#{"-path"}: polygon(0 0, 100% 69px, 100% 100%, 0 100%);
      .inner {
        max-width: 420px;
        margin: 0 auto;
        .title {
          font-size: 24px;
        }
      }
    }
  }
}
