@import "styles/config";

.container {
  position: relative;
  width: 100%;
  max-width: 624px;
  height: auto;
}

.video {
  position: absolute;
  left: 50%;
  height: 100%;
  max-height: 100%;
  transform: translateX(-50%);
}

.image {
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  margin: auto;
}

@media screen and (min-width: $viewportSizeMedium) {
  .container {
    height: 100%;
    max-height: 566px;
  }

  .image {
    position: absolute;
    height: 100%;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .container {
    min-height: 566px;
  }

  .video {
    position: absolute;
    right: initial;
    left: -198px;
    height: 100%;
    max-height: 100%;
    transform: none;
  }
}
