@import "styles/config";

.video {
  max-width: 100vw;
  margin-right: -$contentDefaultIndent;
  margin-left: -$contentDefaultIndent;
}

@media screen and (min-width: $viewportSizeMedium) {
  .video {
    position: absolute;
    left: 50%;
    max-width: 50vw;
    margin-right: initial;
    margin-left: -43px;
    transform: translate(-50%, 0);
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .video {
    top: 0;
    max-width: initial;
    height: 100%;
  }

  .feature:nth-of-type(1) {
    padding: 33px 0 40px;
  }

  .feature:nth-of-type(2) {
    padding: 41px 0 27px;
  }

  .feature:nth-of-type(3) {
    padding: 51px 0 77px;
  }

  .feature:nth-of-type(4) {
    padding: 41px 0 27px;
  }
}
