.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.list {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.list {
  > li a {
    padding-left: 2rem;
  }
}

.active {
  max-height: 50em;
}
