@import "styles/config";

.callToAction {
  padding-top: 120px;
  .container {
    @extend %gradientBgWithDecors;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 479px;
    border-radius: $borderRadius;
    .left {
      img {
        display: block;
      }
    }
    .right {
      width: 480px;
      margin-left: 77px;
      .textLarge {
        color: $colorWhite;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.2;
      }
      .button {
        min-width: 230px;
        margin-top: 24px;
        text-align: center;
      }
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .callToAction {
    padding-top: 136px;
    .container {
      height: auto;
      .left {
        width: 50%;
        min-width: 50%;
        img {
          max-width: 100%;
          padding: 24px;
        }
      }
      .right {
        width: 50%;
        min-width: 50%;
        margin-left: 0;
        padding-right: 32px;
        padding-left: 32px;
        .textLarge {
          font-size: 42px;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .callToAction {
    padding-top: 120px;
    .container {
      .right {
        text-align: center;
        .textLarge {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .callToAction {
    .container {
      flex-direction: column;
      padding: 24px;
      .left,
      .right {
        width: 100%;
        max-width: 460px;
      }
      .left {
        img {
          max-width: 100%;
          margin: 0 auto;
          padding: 0;
        }
      }
      .right {
        padding-right: 0;
        padding-left: 0;
        .button {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .callToAction {
    .container {
      .right {
        .textLarge {
          margin-top: 12px;
          font-size: 24px;
        }
      }
    }
  }
}
