@import "styles/config";

.main {
  width: 100%;
  margin-top: -5.5rem;
  overflow: hidden;
  background-image: url(/images/main-block-container-bg.png);
  background-size: 100%;
  .container {
    position: relative;
    min-height: 622px;
    background-color: #fff;
    background-image: url(/images/main-block-bg-001.svg);
    background-repeat: no-repeat;
    background-position: 100.3% 0;
    background-size: contain;
    :global(.row) {
      animation-delay: 400ms;
    }
  }
  .left {
    max-width: 500px;
    margin-right: 46px;
    padding-top: 240px;
    .textLarge {
      width: 33rem;
      // max-width: 500px;
      color: $colorFontDark;
      font-size: 56px;
      font-weight: 600;
      line-height: 1.1;
      white-space: pre-line;
      span {
        color: $colorAdditional;
      }
      .lightning {
        margin-left: 12px;
        vertical-align: middle;
      }
    }
    .textSmall {
      margin-top: 0.75rem;
      color: $colorFont;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.8;
    }
    .button {
      min-width: 14.5rem;
      text-align: center;
    }
  }
  .right {
    display: flex;
    position: relative;
    justify-content: center;
    width: 637px;
    img {
      display: block;
    }
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.875rem;
}

.free {
  margin-top: 1rem;
  color: $colorManatee;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 150%;
}

@media screen and (min-width: $viewportSizeMedium) {
  .main {
    .right {
      display: block;
    }
  }

  .buttonWrapper {
    align-items: flex-start;
  }
}

@media screen and (min-width: $viewportSizeLarge) {
  .main {
    .left {
      .textSmall {
        white-space: pre-line;
      }
    }

    .right {
      padding-top: 9.5rem;
    }
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .main {
    .left {
      position: relative;
      z-index: 5;
    }

    .right {
      margin-top: 193px;
      padding-top: 0;
    }
  }

  .buttonWrapper {
    flex-direction: row;
  }

  .free {
    margin-top: initial;
    margin-left: 26px;
    font-size: 1.125rem;
    white-space: pre-line;
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .main {
    min-height: 0;
    .container {
      min-height: 0;
    }
    .left {
      width: 50%;
      min-width: 50%;
      padding-top: 9.5rem;
      padding-right: 2rem;
      .textLarge {
        width: 100%;
        font-size: 44px;
      }
      .textSmall {
        width: 100%;
      }
    }
    .right {
      padding-top: 8rem;
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .main {
    .left {
      padding-top: 8rem;
      .textLarge {
        font-size: 34px;
      }
      .textSmall {
        font-size: 16px;
      }
    }
    .right {
      padding-top: 8rem;
    }
  }
}

@media (max-width: ($viewportSizeMedium - 1)) {
  .main {
    margin-top: -56px;
    background: none;
    .container {
      height: auto;
      padding: 0;
      background: none;
      :global(.row) {
        flex-direction: column-reverse;
      }
    }
    .left,
    .right {
      width: 100%;
      padding-right: 16px;
      padding-left: 16px;
    }
    .left {
      display: flex;
      flex-direction: column;
      max-width: 480px;
      margin: 4em auto 0;
      padding: 0 16px;
      .textLarge,
      .textSmall {
        text-align: center;
      }
      .textLarge {
        font-size: 32px;
      }
      .button {
        width: 420px;
        max-width: 100%;
        margin: 24px auto 0;
      }
    }
    .right {
      padding-top: 5rem;
      background-image: url(/images/main-block-bg-m.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
    }
  }
}
