@import "styles/config";

.page {
  padding: 6rem 0;
  h1 {
    margin: 4rem 0;
  }
  .row {
    display: flex;
    .aside {
      width: 15rem;
      padding-right: 2rem;
      .link {
        display: block;
        margin-bottom: 1rem;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        &:hover {
          background-color: rgba(#000, 0.05);
        }
        &.active {
          color: #3980ff;
        }
      }
    }
    .main {
      flex: 1;
      .posts {
        display: flex;
        flex-wrap: wrap;
      }
      .story {
        display: block;
        width: 33.33333%;
        margin-bottom: 4rem;
        padding: 0 1rem;
        .card {
          border-radius: 0.5rem;
          box-shadow: 0 2px 12px rgba(#000, 0.1);
          &:hover {
            box-shadow: 0 2px 12px rgba(#000, 0.15);
          }
        }
        .head {
          padding: 1rem;
          .title {
            height: 2.5rem;
            margin: 0 0 0.5rem;
            overflow: hidden;
            font-size: 1rem;
            line-height: 1.25rem;
          }
          .readMore {
            width: fit-content;
            margin-left: auto;
            padding: 0.25rem 0.75rem;
            border: 1px solid rgba(38, 38, 39, 0.05);
            border-radius: 8px;
            color: #3980ff;
            font-size: 0.875;
            text-align: right;
            &:hover {
              background-color: rgba(38, 38, 39, 0.04);
              color: initial;
            }
          }
        }
        .image {
          position: relative;
          border-radius: 0 0 8px 8px;
          background-color: #f0f0f0;
          background-position: center;
          background-size: cover;
          &::after {
            content: "";
            display: block;
            padding-top: 56.25%;
          }
          img {
            display: none;
            width: 100%;
          }
        }
      }
    }
  }
  .lazyLoad {

  }
}

@media (max-width: $viewportSizeLarge) {
  .page {
    padding: 2rem 0;
    .row {
      .aside {
        width: 12rem;
        padding-right: 1rem;
      }
      .main {
        .story {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .page {
    padding: 0 0 2rem;
    .row {
      .aside {
        width: 10rem;
        padding-right: 1rem;
      }
      .main {
        .story {
          width: 100%;
          .card {
            .title {
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .page {
    .row {
      flex-direction: column;
      .aside {
        width: 100%;
        margin-bottom: 1rem;
        padding-right: 0;
        text-align: center;
        .link {
          display: inline-block;
          margin-bottom: 0.25rem;
        }
      }
      .main {
        .story {
          margin-bottom: 3rem;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeExtraSmall) {
  .page {
    .row {
      flex-direction: column;
      .aside {
        width: 100%;
        margin-bottom: 1rem;
        padding-right: 0;
        text-align: center;
        .link {
          display: inline-block;
          margin-bottom: 0.25rem;
        }
      }
      .main {
        .story {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
