.slider {
  box-sizing: border-box;
  padding: 12px 0;
  &:not(.disabled) {
    cursor: pointer;
  }
  .track {
    position: relative;
    height: 10px;
    border-radius: 5px;
    background-color: #eff5ff;
    cursor: pointer;
    .level {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100%;
      border-radius: 5px;
      background-color: #015ace;
    }
    .thumb {
      position: absolute;
      top: 50%;
      left: 0;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      margin-left: -12px;
      border-radius: 50%;
      background-color: #015ace;
      box-shadow: 0 0 0 3px #fff, 0 2px 8px rgba(0, 0, 0, 0.2);
      user-select: none;
      &:hover {
        background-color: #0266e9;
      }
      &:active {
        background-color: #003b88;
      }
      .label {
        position: absolute;
        top: 100%;
        left: 50%;
        padding: 8px 14px;
        transform: translate(-50%, 8px);
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 5px 15px rgba(39, 59, 105, 0.05), 0 10px 15px rgba(39, 59, 105, 0.05);
        color: #262627;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        white-space: nowrap;
      }
    }
    .scale {
      display: flex;
      height: 100%;
      div {
        flex: auto;
        height: 100%;
        pointer-events: none;
        + div {
          border-left: 2px solid #a6c7ff;
        }
      }
    }
  }
  &.disabled {
    opacity: 0.5;
    .track {
      cursor: default;
      .level {
        background-color: #dcdcdc;
      }
      .thumb {
        border-color: #dcdcdc;
        color: #dcdcdc;
        &:hover,
        &:active {
          background-color: #fff;
        }
      }
    }
  }
  &.min {
    .track {
      .thumb {
        .label {
          left: 0;
          transform: translate(0, 8px);
        }
      }
    }
  }
  &.max {
    .track {
      .thumb {
        .label {
          right: 0;
          left: auto;
          transform: translate(0, 8px);
        }
      }
    }
  }
}
