@import "styles/config";

.container {
  position: relative;
  width: 100%;
  max-width: 671px;
  height: 100%;
  max-height: 452px;
}

.image {
  position: relative;
  z-index: 2;
  width: initial;
  height: initial;
}

.video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -26px;
  width: auto;
  height: 100%;
  max-height: 100%;
}

@media screen and (min-width: $viewportSizeMedium) {
  .container {
    max-width: 100%;
    height: initial;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .video {
    left: -46px;
  }

  img.video {
    right: -78px;
    left: initial;
    width: initial;
    min-width: 748px;
    max-width: initial;
    height: initial;
    min-height: 420px;
    max-height: initial;
  }
}
