@import "styles/config";

.banner {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 4rem;
  .container {
    @extend %gradientBgWithDecors;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: $borderRadius;
    .left {
      img {
        display: block;
        max-width: 100%;
        max-height: 16rem;
      }
    }
    .right {
      max-width: 20rem;
      margin-left: 4rem;
      .textLarge {
        color: $colorWhite;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2;
      }
      .button {
        min-width: 230px;
        margin-top: 24px;
        text-align: center;
      }
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .banner {
    .container {
      .right {
        .textLarge {
          font-size: 1.75rem;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {}

@media (max-width: $viewportSizeMedium) {
  .banner {
    .container {
      .right {
        margin-left: 2rem;
        .textLarge {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .banner {
    .container {
      flex-direction: column;
      align-items: center;
      padding-bottom: 2rem;
      .left {
        img {
          width: 20rem;
          max-width: 100%;
          max-height: none;
        }
      }
      .right {
        margin-left: 0;
        margin-top: 1rem;
        .textLarge {
          text-align: center;
        }
        .button {
          width: 100%;
        }
      }
    }
  }
}
