.quickbooksDisconnected {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  .container {
    max-width: 512px;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 32px;
  }
  a {
    color: #4d82bb;
    font-weight: bold;
  }
}
