@import "styles/config";

@media screen and (min-width: $viewportSizeLarge) {
  .right.right {
    width: 100%;
    min-width: 473px;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .right.right.right {
    display: flex;
    justify-content: flex-end;
    margin-top: 258px;
  }

  .left.left.left {
    margin-right: 170px;
    padding-top: 285px;
  }
}
