@import "styles/config";

.nav {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    border-bottom: 1px solid #eee;
  }

  > ul:last-of-type > li:last-of-type {
    border-bottom: none;
  }

  a {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.menuList {

}
