@import "styles/config";

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 0 88px;
  width: 100%;
  max-width: calc(100vw - 32px);
  margin-bottom: 80px;
  text-align: center;
}

.container:first-child {
  margin-top: 122px;
}

.container:last-child {
  margin-bottom: 0;
}

.demo {
  position: relative;
  width: 512px;
  max-width: 100%;
}

.bgImageWrapper {
  position: absolute;
  z-index: -1;

  svg {
    width: 100%;
    height: 100%;
  }
}

.video {
  width: 100%;
  max-width: calc(100vw - 32px);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(94, 114, 148, 0.1);
  background-blend-mode: soft-light, normal;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
  margin-bottom: 3rem;
}

.title {
  margin: 0;
  margin-bottom: 12px;
  color: $colorFontDark;
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
}

.description {
  margin: 0;
  color: $colorFont;
  font-size: 1rem;
  font-weight: normal;
  line-height: 180%;
}

@media screen and (min-width: $viewportSizeExtraSmall) {
  .container {
    margin-bottom: 90px;
  }

  .container:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $viewportSizeSmall) {
  .container {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: $viewportSizeMedium) {
  .container {
    margin-bottom: 170px;
  }

  .container:last-child {
    margin-bottom: 50px;
  }

  .bgImageWrapper {
    svg {
      width: initial;
      height: initial;
    }
  }

  .demo {
    height: 318px;
  }
}

@media screen and (min-width: $viewportSizeLarge) {
  .container {
    flex-direction: row;
    align-items: initial;
    max-width: 100%;
    text-align: initial;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .content {
    margin-bottom: initial;
  }

  .bgImageWrapper {
    svg {
      max-width: 100%;
    }
  }

  .video {
    max-width: 100%;
  }

  .title {
    font-size: 2.625rem;
  }

  .description {
    white-space: pre-line;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .title {
    white-space: pre-line;
  }
}

@media screen and (min-width: 1270px) {
  .bgImageWrapper {
    svg {
      max-width: initial;
    }
  }
}
