@import "styles/config";

@media screen and (min-width: $viewportSizeExtraLarge) {
  div.right.right {
    margin-top: 126px;
  }

  .feature:nth-of-type(2) {
    padding: 41px 0 27px;
  }

  .feature:nth-of-type(3) {
    padding: 51px 0 77px;
  }
}
