@import "styles/config";

.container {
  display: none;
  position: fixed;
  z-index: -2;
  top: 62px;
  right: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  margin: auto;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 10px;
  background: $colorWhite;
  box-shadow: 0 100px 80px rgba(27, 43, 84, 0.04), 0 41.7776px 33.4221px rgba(27, 43, 84, 0.0287542), 0 22.3363px 17.869px rgba(27, 43, 84, 0.0238443), 0 12.5216px 10.0172px rgba(27, 43, 84, 0.02), 0 -3px 15px rgba(27, 43, 84, 0.05), 0 6.6501px 5.32008px rgba(27, 43, 84, 0.0161557), 0 2.76726px 2.21381px rgba(27, 43, 84, 0.0112458);
  cursor: default;
  gap: 30px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 54px;
}

.col {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  gap: 24px;
}

.category {
  width: 100%;
  padding-bottom: 30px;
}

.categoryTitle {
  padding-bottom: 16px;
  border-bottom: 1px solid $colorBrightGray;
  color: $colorFontDark;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 32px;
}

.item {
  display: flex;
  min-width: 314px;
  max-width: 314px;
  padding-bottom: 10px;
}

.itemIconWrapper {
  display: block;
  width: 44px;
  min-width: 44px;
  max-width: 44px;
  height: 44px;
  min-height: 44xp;
  max-height: 44px;
  margin-right: 20px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.itemTextWrapper {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.itemTitle {
  display: inline-flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
  color: $colorFontDark;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.disabled {
  color: rgba($colorFontDark, 0.3) !important;
}

.disabled {
  &::before {
    content: "soon";
    position: absolute;
    top: 50%;
    right: 0;
    padding: 4px 6px;
    transform: translateY(-50%);
    border-radius: 2px;
    background: #fffdf1;
    color: #f6df64;
  }
}

.itemDescription {
  width: 100%;
  max-width: 250px;
  color: $colorFont;
  font-size: 14px;
  font-weight: normal;
  line-height: 140%;
  white-space: pre-line;
}

.isDescriptionTwoLines {
  min-height: 40px;
}

@media screen and (min-width: $viewportSizeMedium) {
  .container {
    max-width: 768px;
    max-height: calc(100vh - 88px);
    margin: auto;
  }
}

@media screen and (min-width: 993px) {
  .container {
    top: 74px;
    max-width: calc(100v - 32px);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .container {
    max-width: calc(100vw - 32px);
  }

  .item {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .container {
    width: 100%;
    margin: auto;
    gap: 60px 0;
    padding: 60px;
  }

  .row {
    display: flex;
    justify-content: initial;
  }

  .category {
    width: initial;
    max-width: 1050px;
  }

  .col {
    flex-direction: column;
    max-width: 300px;
  }

  .items {
    display: flex;
  }

  .item {
    padding-bottom: initial;
  }
}

@media screen and (min-width: 1262px) {
  .container {
    max-width: 1230px;
  }

  .col {
    flex-direction: column;
    max-width: 314px;
  }
}
