@import "styles/config";

.testimonials {
  margin-top: 120px;
  h1 {
    text-align: center;
  }
  .textSmall {
    max-width: 676px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.8;
    text-align: center;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    overflow: hidden;
    .item {
      width: 450px;
      min-width: 450px;
      min-height: 187px;
      margin: 15px;
      padding: 32px 32px 0;
      border-radius: $borderRadius;
      background: #fff;
      box-shadow: $boxShadow;
      .info {
        display: flex;
        align-items: center;
        .image {
          width: 40px;
          min-width: 40px;
          max-width: 40px;
          margin-right: 18px;
          overflow: hidden;
          border-radius: 50%;
          img {
            display: block;
            width: 100%;
          }
        }
        .title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .name {
            color: $colorFontDark;
            font-size: 16px;
            font-weight: bold;
            line-height: 19px;
          }
          .position {
            font-size: 13px;
          }
        }
        .rating {
          margin-left: auto;
          padding-left: 18px;
        }
      }
      .comment {
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.8;
        white-space: pre-wrap;
      }
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .testimonials {
    margin-top: 124px;
  }
}

@media (max-width: $viewportSizeLarge) {
  .testimonials {
    .textSmall {
      width: 100%;
    }
    .items {
      display: block;
      padding: 0 16px;
      .item {
        min-width: 0;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .testimonials {
    .items {
      .item {
        min-height: 0;
        padding: 16px 24px;
      }
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .testimonials {
    .items {
      .item {
        padding: 24px 16px;
        .title {
          .position {
            margin-top: 4px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeExtraSmall) {
  .testimonials {
    .items {
      .item {
        .info {
          .image {
            min-width: 32px;
            max-width: 32px;
            margin-right: 12px;
          }
          .title {
            .name {
              font-size: 14px;
            }
            .position {
              margin-top: 2px;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
