@import "styles/config";

.rating {
  display: flex;
  .item {
    svg {
      display: block;
      width: 16px;
      height: 16px;
    }
    + .item {
      margin-left: 8px;
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .rating {
    .item {
      + .item {
        margin-left: 4px;
      }
    }
  }
}

@media (max-width: $viewportSizeExtraSmall) {
  .rating {
    .item {
      svg {
        width: 12px;
        height: 12px;
      }
      + .item {
        margin-left: 2px;
      }
    }
  }
}
