@import "styles/config";

.container {
  display: inline-flex;
  position: relative;
  margin: 0 36px;
  aspect-ratio: 946 / 522;
}

.logoImage {
  position: absolute;
  bottom: -(198px / 4);
  left: -(198px / 4);
  width: (198px / 2);
  height: (198px / 2);
}

.animation {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  position: absolute;
  width: 60px;
  height: 60px;
}

.greenIcon {
  top: 10%;
  right: 37px;
}

.blueIcon {
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.orangeIcon {
  right: 43px;
  bottom: 10%;
}

@media screen and (min-width: 580px) {
  .icon {
    position: absolute;
    width: 80px;
    height: 80px;
  }

  .greenIcon {
    top: 0;
    right: 37px;
  }

  .blueIcon {
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .orangeIcon {
    right: 43px;
    bottom: -12px;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .container {
    right: -27px;
    width: 100%;
    max-width: 473px;
    max-height: 261px;
    margin-right: 0;
    margin-left: auto;
  }

  .logoImage {
    bottom: -82px;
    left: -131px;
    width: 198px;
    height: 198px;
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .greenIcon {
    top: -39px;
    right: 37px;
  }

  .blueIcon {
    top: 78px;
    right: -3px;
    bottom: -103px;
    margin: initial;
  }

  .orangeIcon {
    right: 43px;
    bottom: -12px;
  }
}
