@import "styles/config";

.video {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(94, 114, 148, 0.1);
  background-blend-mode: soft-light, normal;
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .video {
    // width: initial;
    max-width: initial;
    height: initial;
  }
}
