@import "styles/config";

@media screen and (min-width: $viewportSizeExtraLarge) {
  .right.right {
    width: initial;
    margin-top: 199px;
  }

  .left.left {
    width: initial;
    padding-top: 259px;
  }

  .feature:nth-of-type(1) {
    padding: 36px 0 36px;
  }

  .feature:nth-of-type(2) {
    padding: 41px 0 27px;
  }

  .feature:nth-of-type(3) {
    padding: 51px 0 62px;
  }
}
