@import "styles/config";

@media screen and (min-width: $viewportSizeExtraLarge) {
  .right.right.right {
    display: flex;
    margin-top: 157px;
  }

  .left.left.left {
    width: 100%;
    max-width: 509px !important;
    margin-right: 0;
    padding-top: 285px;
  }

  .mainCustomizedContainer {
    padding-bottom: 0 !important;
  }
}
