@import "styles/config";

.requestForm {
  width: 100%;
  label {
    margin-bottom: 1rem;
    input {
      border: 1px solid #e5e5f0;
      &:focus {
        border-color: $colorAdditional;
        box-shadow: 0 0 0 1px $colorAdditional;
      }
    }
  }
  button {
    margin-top: 2rem;
  }
}
