.container {
  position: relative;
  max-width: 100%;
}

.video {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(94, 114, 148, 0.1);
  background-blend-mode: soft-light, normal;
}
