@import "styles/config";

.slider {
  margin-top: 190px;
  background: $gradientMain;
  .container {
    display: flex;
    height: 684px;
    .mobileTitle {
      display: none;
    }
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 496px;
      color: $colorWhite;
      .textLarge {
        min-height: 3em;
        font-size: 48px;
        font-weight: 500;
        line-height: 1.2;
      }
      .itemContent {
        min-height: 255px;
        animation: fadeIn 0.2s forwards;
        &.animated {
          animation: fadeOut 0.2s forwards;
        }
      }
      .title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          margin-right: 14px;
          margin-bottom: 16px;
          border-radius: 4px;
          background-color: $colorWhite;
          img {
            width: 24px;
          }
        }
      }
      .description {
        max-width: 420px;
        margin-top: 15px;
        font-size: 16px;
        line-height: 1.4;
      }
      .control {
        display: flex;
        align-items: center;
        margin-left: -18px;
        .prev,
        .next,
        .item {
          transition: transform 0.15s;
          cursor: pointer;
          &:hover {
            transform: scale(1.5);
          }
        }
        .prev,
        .next {
          padding: 18px;
        }
        img {
          display: block;
        }
        .item {
          padding: 6px;
          span {
            display: block;
            width: 8px;
            height: 8px;
            transition: box-shadow 0.2s;
            border-radius: 50%;
            opacity: 0.5;
            background-color: $colorWhite;
          }
          &.active {
            span {
              opacity: 1;
              box-shadow: 0 0 0 2px $colorWhite;
            }
          }
        }
      }
    }
    .right {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      background-image: url(/images/slider-bg.svg);
      background-repeat: no-repeat;
      background-position: center center;
      .imageWrap {
        overflow: hidden;
        animation: zoomIn 0.2s forwards;
        border-radius: $borderRadius;
        &.animated {
          animation: zoomOut 0.2s forwards;
        }
        img {
          display: block;
          opacity: 0;
          &.imageLoaded {
            opacity: 1;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes zoomOut {
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .slider {
    margin-top: 120px;
    .container {
      height: auto;
      .left {
        width: 40%;
        min-width: 40%;
        padding: 70px 24px 70px 0;
        .textLarge {
          font-size: 42px;
        }
        .title {
          font-size: 22px;
        }
        .description {
          width: 100%;
          overflow: hidden;
        }
      }
      .right {
        .imageWrap {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .slider {
    .container {
      .left {
        padding-top: 6%;
        padding-bottom: 6%;
        .textLarge {
          min-height: 3em;
          font-size: 28px;
        }
        .title {
          font-size: 18px;
          .icon {
            width: 24px;
            height: 24px;
            img {
              width: 12px;
            }
          }
        }
        .description {
          font-size: 14px;
        }
      }
      .right {
        padding: 16px;
        background-size: contain;
        img {
          max-height: 450px;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  @keyframes zoomIn {
    from {
      opacity: 0;
    }
  }
  @keyframes zoomOut {
    to {
      opacity: 0;
    }
  }
  .slider {
    padding: 124px 0 54px;
    clip#{"-path"}: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    .container {
      flex-direction: column-reverse;
      max-width: 454px;
      margin: 0 auto;
      .mobileTitle {
        display: block;
        color: $colorWhite;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
      }
      .left {
        width: 100%;
        padding-right: 0;
        .itemContent {
          min-height: 142px;
        }
        .textLarge {
          display: none;
        }
        .title {
          text-align: center;
          .icon {
            display: none;
          }
        }
        .description {
          max-width: 100%;
          height: auto;
          text-align: center;
        }
        .control {
          justify-content: center;
          margin: 0;
          .prev,
          .next {
            img {
              width: 32px;
            }
          }
          .item {
            padding: 12px;
          }
          .prev,
          .next,
          .item {
            &:hover {
              transform: scale(1);
            }
            &:active {
              transform: scale(1.5);
            }
          }
        }
      }
      .right {
        padding: 16px 0;
        .imageWrap {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 360px;
          img {
            max-height: 360px;
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .slider {
    margin-top: 62px;
    .container {
      .left {
        .description {
          height: auto;
        }
      }
      .mobileTitle {
        margin-bottom: 36px;
      }
    }
  }
}

@media (max-width: $viewportSizeExtraSmall) {
  .slider {
    .container {
      .left {
        padding-bottom: 10%;
        .itemContent {
          height: 140px;
        }
        .description {
          font-size: 14px;
        }
      }
      .right {
        .imageWrap {
          height: 320px;
          img {
            max-height: 320px;
          }
        }
      }
    }
  }
}
