@import "styles/config";

@media screen and (min-width: $viewportSizeExtraLarge) {
  .left.left {
    padding-top: 259px;
  }

  .feature:nth-of-type(1) {
    padding: 51px 0 77px;
  }

  .feature:nth-of-type(2) {
    padding: 41px 0 27px;
  }

  .feature:nth-of-type(3) {
    padding: 36px 0 36px;
  }
}
