@import "styles/config";

.demo {
  position: relative;
  padding-bottom: 120px;
  .videoBlock {
    h1 {
      max-width: 900px;
      margin: 50px auto 24px;
      color: #000;
      font-size: 52px;
      font-weight: 600;
      letter-spacing: -0.5px;
      line-height: 1.1;
      text-align: center;
      span {
        color: #0267d4;
      }
    }
    p {
      margin-bottom: 52px;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }
    .row {
      display: flex;
      .colVideo {
        position: relative;
        flex: 1;
        &::after {
          content: "";
          display: block;
          padding-top: 56.25%;
        }
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .colForm {
        width: 30%;
        margin-left: 1.5rem;
        .form {
          @extend %gradientBgWithDecors;
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 454px;
          padding: 16px 24px;
          border-radius: 10px;
          text-align: center;
          h2 {
            margin: 0;
            color: #fff;
            font-size: 26px;
            font-weight: 600;
            line-height: 1.2;
          }
          h3 {
            max-width: 294px;
            margin: 8px 0 20px;
            color: #deebfa;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.7;
          }
          button {
            min-width: 100%;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .demo {
    .videoBlock {
      h1 {
        margin: 24px 0;
        font-size: 42px;
        letter-spacing: 0;
      }
      .row {
        flex-direction: column;
        align-items: center;
        .colVideo {
          width: 100%;
        }
        .colForm {
          margin-left: 0;
          width: auto;
          max-width: 375px;
          margin-top: 24px;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .demo {
    .videoBlock {
      h1 {
        margin: 24px 0 16px;
        font-size: 36px;
      }
      p {
        margin-bottom: 36px;
      }
    }
  }
}
