.container {
  position: relative;
  aspect-ratio: 1090 / 804;
  width: 100%;
  max-width: 545px;
  max-height: 402px;
  outline: 1px solid lawngreen;
  background-color: #eff5ff;
  mask-image: url(/images/invoice-and-receipt-ocr-ai-ocr-ml-bg.svg);
  mask-repeat: no-repeat;
  mask-mode: alpha;
  mask-position: bottom right;
  mask-size: 100%;
  mask-origin: border-box;
}

.animation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  margin: auto;
}
