@import "styles/config";

.formField {
  display: block;
  position: relative;
  width: 100%;
  .iconLabel,
  .iconValid,
  .iconInvalid {
    position: absolute;
    top: 16px;
  }
  .iconLabel {
    left: 16px;
  }
  .iconValid,
  .iconInvalid {
    display: none;
    right: 16px;
  }
  svg {
    display: block;
    color: $colorAdditional;
  }
  input,
  textarea {
    display: block;
    width: 100%;
    height: 3rem;
    padding: 1rem 1rem 1rem 2.625rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $colorWhite;
    color: $colorFontDark;
    font-family: inherit;
    &:valid ~ .iconValid {
      display: block;
    }
    &[data-error] ~ .iconInvalid {
      display: block;
    }
  }
  textarea {
    height: 8.75rem;
    resize: none;
  }
  &[disabled] {
    input,
    textarea {
      border-color: #f0f0f0 !important;
      background-color: #f5f5f5 !important;
    }
    svg {
      color: #dcdcdc;
    }
  }
}
