@import "styles/config";

.container {
  position: relative;
  aspect-ratio: 940 / 922;
  max-height: 561px;
}

.video {
  display: block;
  max-width: 298px;
  max-height: 294px;
  margin: auto;
  border-radius: 20px;
  filter: drop-shadow(0 10px 30px rgba(94, 114, 148, 0.1));
  aspect-ratio: 940 / 922;
}

@media screen and (min-width: $viewportSizeMedium) {
  .video {
    width: 298px;
    max-width: initial;
    height: 461px;
  }
}

@media screen and (min-width: $viewportSizeLarge) {
  .container {
    padding-right: 16px;
  }

  .video {
    max-width: 298px;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .container {
    width: 623px;
    max-width: 623px;
    padding-right: 0;
  }

  .video {
    width: 470px;
    max-width: initial;
    height: 461px;
    max-height: initial;
    margin-left: 128px;
  }
}
