@import "styles/config";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  max-width: 768px;
}

.column {
  flex-direction: column;
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .wrapper {
    max-width: initial;
  }
}

@media screen and (min-width: 1262px) {
  .wrapper {
    gap: 60px 0;
  }
}
