@import "styles/config";

@media screen and (min-width: $viewportSizeExtraLarge) {
  .right.right {
    width: initial;
    margin-top: 152px;
  }

  .feature:nth-of-type(3) {
    padding: 28px 0 31px;
  }
}
