$rem: 16px;
$fontSize: 1rem;
$lineHeight: 1.4;
$colorFont: #7a7a8a;
$colorDisabled: #b3b3bb;
$colorBrightGray: #f4f0ec;
$colorFontDark: #262627;
$fontFamily: "Urbanist", sans-serif;
$colorPrimary: #003166;
$colorSecondary: #1db173;
$colorAdditional: #0267d4;
$colorInvalid: #f3545e;
$colorAdditionalSemilight: #6686ac;
$colorManatee: #9a9aad;
$colorAdditionalLight: #deebfa;
$borderRadius: 0.625rem;
$colorWhite: #fff;
$colorBlack: #000;
$contentDefaultIndent: 16px;
$maxContentWidth: 1170px;
$minContentWidth: 320px;
$containerWidth: $maxContentWidth + $contentDefaultIndent * 2;
$animationDuration: 0.3s;
$gradientMain: linear-gradient(102deg, #0267d4, #1072dd);
%gradientBgWithDecors {
  background: url(/images/bg-decor-1.svg), url(/images/bg-decor-2.svg), $gradientMain; // stylelint-disable-line scss/operator-no-unspaced
  background-repeat: no-repeat;
  background-position: left bottom, top right, center center;
}
$boxShadow: 0 12px 260px rgba(39, 59, 105, 0.05), 0 2px 33px rgba(39, 59, 105, 0.025);
$viewportSizeExtraLarge: 1200px;
$viewportSizeLarge: 992px;
$viewportSizeMedium: 768px;
$viewportSizeSmall: 576px;
$viewportSizeExtraSmall: 420px;
