@import "./config";

html {
  height: 100%;
  min-height: stretch;
  overflow-x: hidden;
  font-size: $rem;
}
*,
*::before,
*::after {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: inherit;
  outline: none;
  user-select: inherit;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $fontFamily;
  text-size-adjust: none;
}
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: $colorFont;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
}
div[data-reactroot] {
  height: 100%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  td {
    padding: 0;
  }
}
a,
.link {
  color: $colorFont;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colorFontDark;
  font-weight: 600;
}
h1 {
  margin: 0;
  font-size: 42px;
  line-height: 1.2;
}
.typography {
  h1 {
    text-align: center;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.75em 0;
    line-height: 1.5;
  }
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 16px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.container {
  width: 100%;
  max-width: $containerWidth;
  margin-right: auto;
  margin-left: auto;
  padding-right: $contentDefaultIndent;
  padding-left: $contentDefaultIndent;
}
button,
.button {
  display: inline-block;
  min-height: 3.5rem;
  padding: 1rem 1.5rem;
  transition: background-color 0.2s;
  border: none;
  border-radius: 0.375rem;
  background-color: $colorSecondary;
  color: $colorWhite;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  cursor: pointer;
  &:hover {
    background-color: darken($colorSecondary, 5%);
  }
  &:active {
    background-color: darken($colorSecondary, 7%);
  }
  &.block {
    display: block;
    width: 100%;
    text-align: center;
  }
  &.stroke {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $colorSecondary;
    color: $colorSecondary;
    &:hover {
      background-color: lighten($colorSecondary, 56%);
    }
    &:active {
      background-color: lighten($colorSecondary, 52%);
    }
  }
  &.loading {
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: buttonLoading 1.5s infinite linear;
      background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5) 30%, transparent 30%);
      background-size: 300% 100%;
    }
  }
  &[disabled],
  &.disabled {
    background-color: $colorDisabled;
    cursor: default;
  }
  &.secondary {
    box-shadow: inset 0 0 0 2px #b4b1b1;
    color: #262627;
    &:hover {
      background-color: #f0f0f0;
    }
    &:active {
      background-color: #f5f5f5;
    }
  }
}

#TermsHubCookieConsent { // stylelint-disable-line
  position: relative;
  z-index: 1000;
}

@keyframes buttonLoading {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: -100% 0;
  }
}

$animationParams: 1s forwards;

.fadeIn {
  animation: fadeIn $animationParams;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInZoomIn {
  animation: fadeInZoomIn $animationParams;
  opacity: 0;
}

@keyframes fadeInZoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.fadeInFromLeft {
  animation: fadeInFromLeft $animationParams;
  opacity: 0;
}

@keyframes fadeInFromLeft {
  from {
    transform: translate(-30%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.fadeInFromRight {
  animation: fadeInFromRight $animationParams;
  opacity: 0;
}

@keyframes fadeInFromRight {
  from {
    transform: translate(30%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.fadeInFromTop {
  animation: fadeInFromTop $animationParams;
  opacity: 0;
}

@keyframes fadeInFromTop {
  from {
    transform: translate(0, -30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.fadeInFromBottom {
  animation: fadeInFromBottom $animationParams;
  opacity: 0;
}

@keyframes fadeInFromBottom {
  from {
    transform: translate(0, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.fadeIn,
.fadeInZoomIn,
.fadeInFromTop,
.fadeInFromBottom,
.fadeInFromLeft,
.fadeInFromRight {
  transform: translateZ(0);
  &.notShown {
    animation: none;
  }
}

[data-loading] {
  .fadeIn,
  .fadeInZoomIn,
  .fadeInFromTop,
  .fadeInFromBottom,
  .fadeInFromLeft,
  .fadeInFromRight {
    animation: none;
  }
}

@media (max-width: $viewportSizeLarge) {
  .fadeIn,
  .fadeInZoomIn,
  .fadeInFromTop,
  .fadeInFromBottom,
  .fadeInFromLeft,
  .fadeInFromRight {
    animation: none;
    opacity: 1;
  }
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0267d4;
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  h1 {
    font-size: 38px;
  }
}

@media (max-width: $viewportSizeLarge) {
  h1 {
    font-size: 32px;
  }
}

@media (max-width: $viewportSizeMedium) {
  h1 {
    font-size: 24px;
  }
}

// stylelint-disable
.u-flex {
  display: flex;
}
.u-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.u-flex-cy {
  display: flex;
  align-items: center;
}
.u-flex-cx {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
}
.col,
[class*=col-] {
  & + & {
    margin-left: $contentDefaultIndent;
  }
}
.col-auto,
.col-1 {
  flex: 1;
}
.terms {
  padding-bottom: 5rem;
  color: #222;
  .container {
    max-width: 720px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.75em 0;
    line-height: 1.5;
  }
}

.fadeOut {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: ($viewportSizeMedium + 1px)) {
  .row-m {
    display: flex;
  }
}
body .intercom-lightweight-app {
  z-index: 999;
}
@media (max-width: 991.98px) {
  body .termshub-cookie-consent .th-ccm__footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 16px 8px;
    button {
      margin: 0 0 16px 16px !important;
    }
  }
}
// stylelint-enable

svg {
  width: 18px;
  height: 18px;
  overflow: hidden;
  fill: none;
}

@media (max-width: $viewportSizeLarge) {
  button,
  .button {
    min-height: 3rem;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
}

form[disabled] {
  button[type=submit] {
    border-color: #f0f0f0 !important;
    background-color: #f0f0f0 !important;
    color: #fff !important;
    cursor: default;
    pointer-events: none;
  }
}

::placeholder {
  color: #7a7a7a;
}

.overflow-hidden {
  overflow: hidden;
}
