@import "styles/config";

.pricing {
  padding-top: 120px;
  .title {
    text-align: center;
  }
  .switcher {
    display: flex;
    position: relative;
    width: fit-content;
    width: 300px;
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
    background: #e5e9f0;
    box-shadow: 0 0 0 4px #e5e9f0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      transform: translate(100%, 0);
      transition: transform 0.2s;
      border-radius: 5px;
      background-color: #fff;
      color: #a9c1e2;
    }
    .item {
      display: flex;
      z-index: 1;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 0 16px;
      transition: color 0.2s;
      font-size: 18px;
      font-weight: 600;
      user-select: none;
      &:last-child {
        color: #262627;
      }
      &:first-child {
        margin-left: 4px;
        cursor: pointer;
        &:hover {
          color: #262627;
        }
      }
      span {
        display: flex;
        align-items: center;
        height: 28px;
        margin-left: 8px;
        padding: 0 6px;
        border-radius: 4px;
        background: #0267d4;
        color: #fff;
        font-size: 16px;
      }
    }
    &.annual {
      &::after {
        transform: translate(0, 0);
      }
      .item {
        &:last-child {
          color: inherit;
          cursor: pointer;
          &:hover {
            color: #262627;
          }
        }
        &:first-child {
          color: #262627;
          cursor: initial;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .pricing {
    padding-top: 132px;
  }
}

@media (max-width: $viewportSizeLarge) {
  .pricing {
    padding-top: 100px;
  }
}
