@use "sass:math";
@import "styles/config";

.spiner {
  $spinnerSize: 8rem;
  $scaler: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $spinnerSize;
  height: $spinnerSize;
  margin-top: math.div(-$spinnerSize, 2);
  margin-left: math.div(-$spinnerSize, 2);
  animation: rotate 1.2s infinite linear;
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 50%;
  border-color: transparent $colorAdditionalSemilight $colorAdditionalSemilight transparent;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 0.25rem;
    border-style: solid;
    border-radius: 50%;
  }
  &::before {
    $size: $spinnerSize - $scaler;
    width: $size;
    height: $size;
    margin-top: math.div(-$size, 2);
    margin-left: math.div(-$size, 2);
    animation: rotate 1s infinite linear;
    border-color: transparent transparent $colorSecondary $colorSecondary;
  }
  &::after {
    $size: $spinnerSize - $scaler * 2;
    width: $size;
    height: $size;
    margin-top: math.div(-$size, 2);
    margin-left: math.div(-$size, 2);
    animation: rotate 1.5s infinite linear;
    border-color: $colorPrimary $colorPrimary transparent transparent;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
