@import "styles/config";

.features {
  padding-top: 190px;
  overflow: hidden;
  .textLarge {
    margin-bottom: 12px;
    color: $colorFontDark;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
  }
  .textSmall {
    line-height: 1.8;
  }
  .firstBlock {
    .left {
      position: relative;
      height: 386px;
      .bg {
        transform: translate(-50px, 0);
        img {
          max-width: 100%;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .textLarge {
        width: 320px;
      }
      .textSmall {
        width: 385px;
      }
    }
  }

  .secondBlock,
  .fourthBlock {
    .left {
      flex-direction: column;
      justify-content: center;
    }
  }

  .secondBlock {
    padding-top: 173px;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 320px;
      margin-left: 96px;
    }
    .right {
      position: relative;
      img {
        max-width: 100%;
        transform: translate(50px, 0);
      }
    }
  }

  .thirdBlock {
    padding-top: 200px;
    .left {
      position: relative;
      img {
        max-width: 100%;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 466px;
      margin-right: 100px;
    }
  }

  .fourthBlock {
    padding-top: 173px;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 320px;
      margin-right: 96px;
      margin-left: 96px;
    }
    .right {
      position: relative;
      img {
        max-width: 100%;
        transform: translate(50px, 0);
      }
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .features {
    padding-top: 150px;
    .firstBlock {
      .left {
        height: auto;
        .bg {
          transform: translate(0, 0);
        }
      }
      .right {
        padding-left: 16px;
        .textLarge {
          width: 100%;
        }
        .textSmall {
          width: 100%;
        }
      }
    }
    .secondBlock {
      padding-top: 100px;
      .left {
        margin-left: 46px;
      }
      .right {
        img {
          max-width: 100%;
          &:first-child {
            transform: translate(0, 0);
          }
        }
      }
    }
    .thirdBlock {
      padding-top: 100px;
      .right {
        padding-left: 16px;
      }
    }
    .fourthBlock {
      padding-top: 50px;
      .left {
        margin-right: 46px;
        margin-left: 46px;
      }
      .right {
        img {
          transform: translate(0, 0);
        }
      }
    }
    .firstBlock,
    .secondBlock,
    .thirdBlock,
    .fourthBlock {
      .right,
      .left {
        .textLarge {
          width: 100%;
        }
        .textSmall {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .features {
    .firstBlock {
      .left {
        padding-top: 7%;
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .features {
    .firstBlock,
    .secondBlock,
    .thirdBlock,
    .fourthBlock {
      max-width: 454px;
      margin-right: auto;
      margin-left: auto;
      .textLarge {
        font-size: 24px;
      }
      .right,
      .left {
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
      }
    }
    .textLarge {
      margin-top: 2rem;
    }
    .firstBlock {
      .left {
        position: relative;
        .bg {
          position: relative;
          left: 0;
          img {
            max-width: 100%;
          }
        }
      }
    }
    .secondBlock,
    .fourthBlock {
      flex-direction: column-reverse;
      .right {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .features {
    padding-top: 64px;
    .secondBlock,
    .thirdBlock {
      padding-top: 80px;
    }
  }
}

@media (max-width: $viewportSizeExtraSmall) {
  //
}
