@import "styles/config";

@media screen and (min-width: $viewportSizeExtraLarge) {
  .right.right {
    width: initial;
    margin-top: 193px;
  }

  .left.left {
    width: initial;
    padding-top: 285px;
  }

  .feature:nth-of-type(1) {
    padding: 33px 0 39px;
  }
}
