@import "styles/config";

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1236 / 854;
  margin-right: 0;
}

.animation {
  position: absolute;
  top: 0;
  left: 50%;
  max-height: 100%;
  transform: translateX(-50%);
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .container {
    width: 618px;
    height: 427px;
  }

  .animation {
    left: -46px;
    transform: none;
  }
}
