@import "styles/config";

.footer {
  margin-top: auto;
  padding-top: 148px;
  background-color: #0f2b49;
  clip#{"-path"}: polygon(20% 0, 100% 78px, 100% 100%, 0 100%, 0 88px);
  .main {
    min-height: 257px;
    padding-bottom: 32px;
  }
  .logo {
    margin-bottom: 48px;
    img {
      height: 1.6rem;
    }
  }
  .colFirst {
    width: 50%;
    .textLarge {
      padding-right: 6rem;
      color: $colorWhite;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.2;
    }
    a {
      display: flex;
      align-items: center;
      margin-top: 30px;
      color: $colorWhite;
      font-size: 18px;
      line-height: 22px;
      svg {
        margin-right: 8px;
      }
    }
  }
  .colSecond,
  .colThird {
    width: 25%;
    padding-right: 2rem;
    color: $colorWhite;
    .title {
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
    }
    .text {
      min-height: 70px;
      margin-top: 10px;
      padding-bottom: 16px;
      color: $colorAdditionalSemilight;
    }
    .button {
      width: calc(100% - 2rem);
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .sub {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 56px;
    border-top: 1px solid rgba(28, 69, 120, 0.4);
    font-size: 14px;
    line-height: 24px;
    .left {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 0;
      a {
        display: inline-block;
        transition: border-bottom-color 0.2s;
        border-bottom: 1px solid;
        color: $colorAdditionalLight;
        font-weight: 500;
        line-height: 1;
        margin: 1rem 0;
        &:hover {
          border-bottom-color: transparent;
        }
        + a {
          margin-left: 2rem;
        }
      }
    }
    .center {
      display: flex;
      align-items: center;
      color: $colorAdditionalSemilight;
      margin: 1rem 0 1rem 2rem;
      img {
        max-width: 150px;
        margin-left: 16px;
      }
    }
    .right {
      display: flex;
      color: $colorAdditionalSemilight;
      margin: 1rem 0 1rem 2rem;
      .item {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .footer {
    .colFirst {
      width: 40%;
      .textLarge {
        padding-right: 2rem;
      }
    }
    .colSecond,
    .colThird {
      width: 30%;
    }
    .sub {
      justify-content: center;
      .left {
        a {
          margin: 1rem;
          + a {
            margin: 1rem;
          }
        }
      }
      .left,
      .center,
      .right {
        margin: 1rem;
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .footer {
    clip#{"-path"}: polygon(20% 0, 100% 48px, 100% 100%, 0 100%, 0 58px);
    padding-top: 6rem;
    .colFirst {
      .textLarge {
        font-size: 26px;
      }
    }
    .colSecond,
    .colThird {
      padding-right: 0;
      .title {
        font-size: 16px;
      }
    }
    .sub {
      justify-content: center;
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .footer {
    clip#{"-path"}: polygon(0 0, 100% 4.75rem, 100% 100%, 0 100%);
    .main {
      max-width: 420px;
      min-height: 0;
      margin: 0 auto;
    }
    .colFirst,
    .colSecond,
    .colThird {
      width: 100%;
      margin-bottom: 2rem;
      padding-right: 0;
      .title {
        font-size: 20px;
      }
      .button {
        width: 100%;
      }
    }
    .colFirst {
      .textLarge {
        padding-left: 0;
        font-size: 24px;
      }
    }
    .sub {
      display: flex;
      flex-direction: column;
      .left {
        justify-content: center;
      }
    }
  }
}
