@import "styles/config";

@media screen and (min-width: $viewportSizeExtraLarge) {
  .feature:nth-of-type(1) {
    padding: 33px 0 40px;
  }

  .feature:nth-of-type(2) {
    padding: 41px 0 27px;
  }
}
