@import "styles/config";

.requestAccesPage {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 2rem 0;
  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
  }
  .container {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1002px;
    height: fit-content;
    padding: 0 16px;
    .left {
      display: flex;
      flex: auto;
      align-items: center;
      max-width: 426px;
      .logo {
        max-width: 100px;
        margin-bottom: 70px;
      }
      .list {
        .item {
          position: relative;
          padding-left: 36px;
          color: #7a7a8a;
          font-size: 16px;
          line-height: 180%;
          svg {
            position: absolute;
            top: 2px;
            left: 0;
            width: 20px;
            height: 20px;
          }
          .title {
            margin-bottom: 4px;
            color: #262627;
            font-size: 20px;
            font-weight: 600;
            line-height: 120%;
          }
          + .item {
            margin-top: 32px;
          }
        }
      }
    }
    .right {
      flex: auto;
      max-width: 500px;
      margin-left: 60px;
      .paper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        min-height: 580px;
        padding: 48px 60px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 12px 64px rgba(39, 59, 105, 0.05), 0 2px 32px rgba(39, 59, 105, 0.05);
        text-align: center;
        .title {
          margin-bottom: 2rem;
          color: #262627;
          font-size: 36px;
          font-weight: 600;
        }
        .congrats {
          .image {
            position: relative;
            &::before {
              content: "";
              display: block;
              padding-top: 63.75%;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }
          }
          .title {
            margin-top: 56px;
            margin-bottom: 12px;
          }
          button {
            margin-top: 2rem;
            padding-right: 3rem;
            padding-left: 3rem;
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .requestAccesPage {
    .bg {
      display: none;
    }
    .container {
      display: block;
      width: 532px;
      .left {
        .logo {
          margin: 0 auto 32px;
          img {
            width: 120px;
          }
        }
        .list {
          .item {
            svg {}
            + .item {
              margin-top: 16px;
            }
          }
        }
      }
      .right {
        margin-top: 32px;
        margin-left: 0;
        .paper {
          padding: 32px;
          .congrats {
            img {
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeExtraSmall) {
  .requestAccesPage {
    .bg {
      display: none;
    }
    .container {
      display: block;
      width: 532px;
      .left {
        .logo {
          margin: 0 auto 32px;
          img {
            width: 120px;
          }
        }
        .list {
          .item {
            svg {}
            + .item {
              margin-top: 16px;
            }
          }
        }
      }
      .right {
        .paper {
          padding: 0;
          box-shadow: none;
          .title {
            margin-bottom: 1rem;
            font-size: 28px;
          }
        }
      }
    }
  }
}
