.container {
  position: relative;
  width: 100%;
  max-width: 566px;
  max-height: 390;
  aspect-ratio: 283 / 195;
}

.image,
.background {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 390px;
}

.animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  max-width: 100%;
  margin: auto;
  background: #eef6fe;
  mask-image: url(/images/accounts-payable-workflow-google-drive-and-dropbox-integration-bg.svg);
  mask-repeat: no-repeat;
  mask-mode: alpha;
  mask-position: center;
  mask-size: 80%;
  mask-origin: border-box;
}
