.toggleItem {

}

.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 800;
}

.list {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.list {
  > li {
    padding-left: 1rem;
  }
}

.active {
  max-height: 100em;
}
