.videoFeedback {
  margin-top: 120px;
  h1 {
    text-align: center;
  }
  .textSmall {
    max-width: 676px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.8;
    text-align: center;
  }
  .video {
    margin-top: 25px;
    &::after {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
