@import "styles/config";

.dialog {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  animation: fadeIn 0.4s;
  background-color: rgba(#091727, 0.5);
  .window {
    position: relative;
    max-width: 100%;
    border-radius: $borderRadius;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: $borderRadius;
      cursor: pointer;
      svg {
        display: block;
        opacity: 0.4;
      }
      &:hover {
        background-color: rgba($colorFontDark, 0.1);
        svg {
          opacity: 1;
        }
      }
    }
    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 24rem;
      max-width: 100%;
      min-height: 10rem;
      padding: 3rem;
      border-radius: $borderRadius;
      background: $colorWhite;
      text-align: center;
      .message {
        height: 100%;
      }
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .dialog {
    .window {
      .inner {
        min-height: 184px;
        padding: 1rem;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(#091727, 0);
  }
}
