@import "styles/config";

.formField {
  display: block;
  position: relative;
  width: 100%;
  .iconLabel,
  .iconValid,
  .iconInvalid {
    position: absolute;
    top: 16px;
  }
  .iconLabel {
    left: 16px;
  }
  .iconValid,
  .iconInvalid {
    display: none;
    right: 16px;
  }
  svg {
    display: block;
    color: $colorAdditional;
  }
  input,
  textarea {
    display: block;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 2.625rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $colorWhite;
    color: $colorFontDark;
    font-family: inherit;
    &.successState ~ .iconValid {
      display: block;
    }
    &.errorState ~ .iconInvalid {
      display: block;
    }
  }
  textarea {
    height: 8.75rem;
    resize: none;
  }
}
