.columns {
  color: #262627;
  .column {
    padding: 24px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 12px 50px rgba(39, 59, 105, 0.05), 0 1px 32px rgba(39, 59, 105, 0.05);
    .title {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
    }
    .list {
      .item {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        svg {
          margin-right: 8px;
        }
        + .item {
          margin-top: 16px;
        }
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
      div {
        display: flex;
        align-items: center;
      }
      svg {
        display: flex;
        width: 1.25em;
        height: 1.25em;
        margin-left: 8px;
        color: inherit;
      }
    }
    + .column {
      margin-top: 32px;
    }
  }
}
