@import "styles/config";

.counters {
  padding-top: 190px;
  .container {
    display: flex;
    justify-content: center;
    .blockWrapper {
      width: 25%;
      max-width: 270px;
      margin: 0 15px;
    }
    .block {
      position: relative;
      height: 260px;
      margin: 0 auto;
      padding-top: 32px;
      border-radius: $borderRadius;
      background-color: $colorWhite;
      box-shadow: $boxShadow;
      .textLarge {
        color: $colorFontDark;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
      }
      .textSmall {
        padding: 0 8px;
        line-height: 19px;
        text-align: center;
      }
      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    .blockFirst {
      animation-delay: 0;
    }
    .blockSecond {
      animation-delay: 0.2s;
    }
    .blockThird {
      animation-delay: 0.4s;
    }
    .blockForth {
      animation-delay: 0.6s;
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .counters {
    padding-top: 120px;
    .container {
      .blockWrapper {
        margin: 0 8px;
        .block {
          height: 14em;
          padding-top: 20px;
          .textLarge {
            font-size: 42px;
          }
          .textSmall {
            font-size: 14px;
          }
          img {
            transform: translate(-50%, 0) scale(0.75);
            transform-origin: center bottom;
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .counters {
    .container {
      .blockWrapper {
        .block {
          height: 10em;
          padding-top: 12px;
          .textLarge {
            font-size: 36px;
          }
          img {
            transform: translate(-50%, 0) scale(0.5);
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .counters {
    .container {
      position: relative;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 530px;
      margin: auto;
      .bgCircle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15rem;
        height: 15rem;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #eff5ff;
      }
      .blockWrapper {
        width: 50%;
        max-width: 180px;
        margin: 0;
        padding: 8px;
        &:nth-child(odd) {
          transform: translate(0, -12px);
        }
        &:nth-child(even) {
          transform: translate(0, 12px);
        }
      }
    }
  }
}
