@import "styles/config";

$animatioDuration: 0.2s;

.header {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateZ(0);
  transition: background-color $animatioDuration, box-shadow $animatioDuration, transform $animatioDuration;
  .logo {
    display: block;
    img {
      height: 1.6rem;
    }
  }
  nav,
  .right {
    > a,
    > span {
      display: block;
      position: relative;
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      line-height: 1.25;
      font-weight: 600;
      &:hover {
        background-color: rgba($colorFontDark, 0.04);
      }
    }

    a.popupItem,
    span.popupItem {
      position: relative;
      z-index: 10;
      padding: 12px 22px;
      overflow: initial;
      border-radius: 0.5rem 0.5rem 0 0;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: $colorWhite;
        color: $colorAdditional;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 150%;
      }

      &:hover::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: -8px;
        left: -11.256px;
        width: 126px;
        width: 129px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 126 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0C14.4772 0 10 4.47715 10 10V42C10 47.5228 5.52285 52 0 52V52H126V52C120.477 52 116 47.5228 116 42V10C116 4.47715 111.523 0 106 0H20Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: 100%;
      }

      &:hover .popupMenu {
        display: flex;
      }
    }
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    animation-delay: 900ms;
    .left {
      display: flex;
      align-items: center;
      height: 100%;
      nav {
        display: flex;
        margin-left: 148px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      height: 100%;
      a {
        margin-left: 1rem;
        transition: color $animatioDuration;
        transition: background-color 0.2s;
        color: $colorWhite;
        font-weight: 600;
        &:hover {
          background-color: rgba($colorWhite, 0.05);
        }
        &:active {
          background-color: rgba($colorWhite, 0.1);
        }
        &.bordered {
          transition: border-color $animatioDuration;
          border: 2px solid $colorWhite;
          &:hover {
            background-color: rgba($colorFontDark, 0.05);
          }
          &:active {
            background-color: rgba($colorFontDark, 0.1);
          }
        }
      }
    }
  }
  &.index {
    nav {
      > a,
      > span {
        color: #fff;
      }
    }
  }
  &:not(.index) {
    .right {
      a {
        color: $colorFont;
        &.bordered {
          border-color: $colorFont;
        }
      }
    }
  }
  &.detached {
    background-color: $colorWhite;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    .inner {
      height: 4rem;
      a,
      span {
        color: $colorFont;
      }
      .right {
        a {
          &.bordered {
            border-color: $colorFont;
          }
        }
      }
    }
  }

  .scrolledPopupMenu {
    top: 64px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 100px 80px rgba(27, 43, 84, 0.04), 0 41.7776px 33.4221px rgba(27, 43, 84, 0.0287542), 0 22.3363px 17.869px rgba(27, 43, 84, 0.0238443), 0 12.5216px 10.0172px rgba(27, 43, 84, 0.02), 0 3px 15px rgba(27, 43, 84, 0.05), 0 6.6501px 5.32008px rgba(27, 43, 84, 0.0161557), 0 2.76726px 2.21381px rgba(27, 43, 84, 0.0112458);
  }
}

.mobileMenu {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  transition: height $animatioDuration, box-shadow $animatioDuration; // stylelint-disable-line
  background-color: #0267d4;
  .logo {
    img {
      display: block;
      width: 120px;
    }
  }
  .menu,
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: $borderRadius;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    svg {
      width: 24px;
      height: 24px;
      color: #fff;
    }
  }
  .login {
    width: auto;
    padding: 0 12px;
    color: $colorWhite;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    svg {
      margin-left: 8px;
    }
  }
}

.offCanvas {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.15);
  nav {
    width: 100%;
    padding: 1rem;
    transform: translate(0, -100%) translateZ(0);
    animation: offCanvasAnimation 0.5s forwards;
    background-color: #fff;
  }
}

@keyframes offCanvasAnimation {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .header {
    .inner {
      .left {
        nav {
          margin-left: 4rem;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .header {
    .inner {
      height: 4rem;
      .left {
        nav {
          margin-left: 1.5rem;
          a + a {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .header {
    background-color: $colorAdditional;
    &.detached {
      background-color: $colorAdditional;
    }
    .container {
      display: none;
    }
  }
  .mobileMenu {
    display: flex;
  }
}

@media (max-width: $viewportSizeSmall) {
  .mobileMenu {
    .logo {
      img {
        width: 100px;
      }
    }
  }
}

@media (max-width: $viewportSizeExtraSmall) {
  .mobileMenu {
    .logo {
      img {
        width: 80px;
      }
    }
  }
}

.overlay {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
