@import "styles/config";

.calculate {
  display: flex;
  margin-bottom: 120px;
  border-radius: 10px;
  box-shadow: 0 12px 32px rgba(39, 59, 105, 0.03), 0 2px 32px rgba(39, 59, 105, 0.025);
  color: #262627;
  .title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
  }
  .variants {
    flex: auto;
    padding: 50px;
    .plans {
      display: flex;
      margin-bottom: 50px;
      .plan {
        display: block;
        position: relative;
        flex: auto;
        padding: 20px 20px 20px 64px;
        border: 1px solid #e5eeff;
        border-radius: 6px;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          top: 19px;
          left: 19px;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          box-shadow: inset 0 0 0 1px #cfdcf3;
        }
        &:hover {
          background-color: #e5eeff70;
        }
        .price {
          width: 145px;
          color: #7a7a8a;
          font-size: 14px;
          span {
            color: #262627;
            font-size: 32px;
            font-weight: bold;
          }
        }
        .name {
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
        }
        &.active {
          border-color: #015ace;
          box-shadow: inset 0 0 0 1px #015ace;
          &::after {
            box-shadow: inset 0 0 0 6px #015ace;
          }
        }
        + .plan {
          margin-left: 16px;
        }
      }
    }
    .slider {
      padding-bottom: 50px;
    }
  }
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 29%;
    padding: 40px;
    border-radius: 0 10px 10px 0;
    text-align: center;
    background: url("/images/bg-decor-2.svg"), linear-gradient(103deg, #0267d4, #1072dd); // stylelint-disable-line
    background-repeat: no-repeat;
    background-position: top right, center center;
    background-size: 75% 59%, 100%;
    color: #fff;
    .value {
      margin-bottom: 16px;
      font-size: 80px;
      font-weight: bold;
    }
    .payment {
      margin-bottom: 32px;
      font-size: 20px;
      font-weight: normal;
      line-height: 120%;
    }
    a {
      display: block;
      width: 100%;
    }
    button {
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .calculate {
    .variants {
      padding: 40px;
      .plans {
        display: flex;
        margin-bottom: 50px;
        .plan {
          padding: 16px 16px 16px 48px;
          &::after {
            top: 17px;
            left: 14px;
            width: 22px;
            height: 22px;
          }
          .price {
            width: 138px;
          }
        }
      }
    }
    .result {
      width: 27%;
      padding: 24px;
      .value {
        font-size: 60px;
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .calculate {
    .variants {
      padding: 24px;
      .plans {
        .plan {
          padding: 36px 12px 12px;
          &::after {
            top: 8px;
            left: 12px;
            width: 20px;
            height: 20px;
          }
          .name {
            margin-bottom: 4px;
            font-size: 16px;
          }
          .price {
            width: 116px;
            font-size: 13px;
            span {
              font-size: 22px;
            }
          }
        }
      }
    }
    .result {
      width: 27%;
      min-width: 200px;
      padding: 16px;
      .value {
        font-size: 48px;
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .calculate {
    flex-direction: column;
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
    .variants {
      .plans {
        flex-direction: column;
        margin-bottom: 24px;
        .plan {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 14px;
          padding-left: 42px;
          &::after {
            top: 50%;
            transform: translate(0, -50%);
          }
          .name {
            margin-bottom: 0;
          }
          .price {
            span {
              font-size: 16px;
            }
          }
          + .plan {
            margin-top: 16px;
            margin-left: 0;
          }
        }
      }
    }
    .result {
      width: 100%;
      max-width: 100%;
      padding: 12px 24px 24px;
      border-radius: 0 0 10px 10px;
      .content {
        width: 100%;
        margin-bottom: 0;
        .value {
          margin-bottom: 0;
        }
      }
      .payment {
        width: 100%;
        margin-bottom: 16px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .calculate {}
}

@media (max-width: $viewportSizeExtraSmall) {
  .calculate {
    .title {
      font-size: 18px;
    }
    .variants {
      .plans {
        .plan {
          padding: 14px 14px 14px 40px;
          .name {
            font-size: 15px;
          }
          .price {
            width: auto;
            font-size: 13px;
            span {
              font-size: 15px;
            }
          }
          &::after {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
