@import "styles/config";

.customerStory {
  padding-bottom: 4rem;
  a {
    color: #3980ff;
    &:hover {
      color: inherit;
    }
  }
  img {
    display: block;
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  blockquote {
    margin: 2rem 2rem 2rem 6rem;
    color: #222;
    font-weight: bold;
    p {
      &::before {
        content: "“";
      }
      &::after {
        content: "“";
      }
    }
    figcaption {
      font-size: 0.75em;
      font-weight: normal;
      &::before {
        content: " — ";
      }
    }
  }
  .title {
    margin: 2rem 0 4rem;
  }
  .container {
    display: flex;
    font-size: 1.25rem;
    .content {
      min-width: 70%;
      max-width: 70%;
      .video {
        position: relative;
        margin-bottom: 4rem;
        &::after {
          content: "";
          display: block;
          padding-top: 56.25%;
        }
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .aside {
      margin-left: 3rem;
      font-size: 1rem;
      .image {
        margin-bottom: 2rem;
        overflow: hidden;
        border: 1px solid #dcdcdc;
        border-radius: 0.5rem;
        img {
          display: block;
        }
      }
      .heading {
        margin-bottom: 0.5rem;
        color: #222;
        font-weight: bold;
      }
      .item {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .customerStory {
    padding-bottom: 2rem;
    blockquote {
      margin: 1rem 1rem 1rem 3rem;
    }
    .title {
      margin: 1rem 0 2rem;
    }
    .container {
      font-size: 1rem;
      .content {
        min-width: 65%;
        max-width: 65%;
        .video {
          margin-bottom: 2rem;
        }
      }
      .aside {
        margin-left: 2rem;
        font-size: 1rem;
        .image {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .customerStory {
    .container {
      flex-direction: column-reverse;
      .content {
        min-width: 100%;
        max-width: 100%;
        margin-top: 2rem;
      }
      .aside {
        margin-left: 0;
        .image {
          max-width: 20rem;
        }
      }
    }
  }
}
