@import "styles/config";

.container {
  position: relative;
  max-width: 100%;
}

.image {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.animation {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 50%;
  max-height: 100%;
  margin: auto;
  transform: translateX(-50%);
}
