.container {
  position: relative;
  max-height: 383px;
}

.background {
  position: absolute;
  z-index: 1;
  max-width: 100%;
}

.animation {
  position: absolute;
  z-index: 2;
  top: 10px;
  bottom: 0;
  left: 50%;
  max-height: 88%;
  margin: auto;
  transform: translateX(-50%);
  background-color: #eff5ff;
  mask-image: url(/images/invoice-and-receipt-ocr-ai-multi-languages-bg.svg);
  mask-repeat: no-repeat;
  mask-mode: alpha;
  mask-position: center;
  mask-size: 80%;
}

.image {
  position: relative;
  z-index: 3;
  max-width: 100%;
}
