@import "styles/config";

.mapStatic {
  background-color: #f9f9f9;
  background-image: url(/images/map.png);
  background-repeat: no-repeat;
  background-position: center center;
  .tooltip {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-396px, 0);
    .content {
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      width: 336px;
      margin-top: -40px;
      padding: 24px;
      transform: translate(-50%, -100%);
      border-radius: $borderRadius;
      background: $colorWhite;
      box-shadow: $boxShadow;
      color: $colorBlack;
      font-size: 16px;
      line-height: 1.6;
      a {
        display: flex;
        color: inherit;
        svg {
          min-width: 18px;
          margin-right: 8px;
        }
        + a {
          margin-top: 16px;
        }
        &:hover {
          color: lighten($colorBlack, 20);
        }
      }
    }
    .point {
      position: absolute;
      top: 0;
      left: 0;
      width: 0.5rem;
      height: 0.5rem;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #0267d4;
      box-shadow: 0 0 0 0.25rem rgba(2, 103, 212, 0.54), 0 0 0 0.5rem rgba(2, 103, 212, 0.3);
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .mapStatic {
    .tooltip {
      top: 57%;
      transform: translate(-296px, 0);
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .mapStatic {
    .tooltip {
      top: 56%;
      transform: translate(-238px, 0);
      .content {
        width: 260px;
        padding: 16px 14px;
        font-size: 14px;
        a + a {
          margin-top: 12px;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .mapStatic {
    padding-top: 410px;
    background-image: url(/images/map-centered.png);
    background-position: center top;
    .tooltip {
      top: 0;
      left: 50%;
      transform: translate(-8px, 257px);
      .content {
        margin-top: -26px;
      }
    }
  }
}
