@import "styles/config";

.infographics {
  display: flex;
  padding-top: 87px;
  h1 {
    margin-bottom: 0.75rem;
  }
  .textSecondary {
    line-height: 1.8;
  }
  .left {
    position: relative;
    flex: 1;
    padding-left: 6%;
    .bgCircle {
      position: absolute;
      top: 41px;
      left: 194px;
      width: 284px;
      height: 284px;
      border-radius: 50%;
      background-color: #eff5ff;
    }
    .row {
      display: flex;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.8125;
      text-align: center;
    }
    .blockA,
    .blockB,
    .blockC,
    .blockD {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      height: 165px;
      margin: 9px;
      padding: 0 60px;
      border-radius: $borderRadius;
      background: #fff;
      box-shadow: $boxShadow;
      color: $colorFontDark;
      line-height: 1.2;
      text-align: center;
    }
    .blockA,
    .blockD {
      width: 338px;
    }
    .blockB,
    .blockC {
      width: 165px;
    }
    .blockB {
      flex-direction: column;
      justify-content: flex-end;
      padding: 0;
      .textLarge {
        font-size: 38px;
      }
      .textSmall {
        color: $colorFont;
        font-size: 13px;
      }
      .image {
        margin-top: 10px;
        img {
          display: block;
        }
      }
    }
    .blockC {
      &.quickBooksOnly {
        padding: 0 6px;
        img {
          max-width: 100%;
        }
      }
      &:not(.quickBooksOnly) {
        padding: 0 20px;
        img {
          position: relative;
          max-width: 100%;
        }
        img:nth-child(1) {
          top: -20px;
          left: 20px;
        }
        img:nth-child(2) {
          right: 20px;
          bottom: -20px;
        }
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    .textMain {
      max-width: 488px;
    }
    .button {
      width: fit-content;
      min-width: 14.5rem;
      margin-top: 1.5rem;
      text-align: center;
    }
  }
  .secondBlock {
    margin-top: 182px;
    .textMain,
    .textSecondary {
      text-align: center;
    }
    img {
      display: block;
      max-width: 894px;
      margin: 88px auto 0;
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .infographics {
    .left {
      .bgCircle {
        top: 13%;
        left: 32%;
        width: 210px;
        height: 210px;
      }
      .blockA,
      .blockB,
      .blockC,
      .blockD {
        height: 124px;
        padding: 0 16px;
        font-size: 1.25rem;
      }
      .blockA,
      .blockD {
        width: 254px;
      }
      .blockB,
      .blockC {
        width: 124px;
      }
      .blockB {
        .textLarge {
          font-size: 1.5rem;
        }
      }
      .blockC {
        padding: 0 20px;
      }
    }
    .right {
      .textMain,
      .textSecondary {
        width: 100%;
      }
    }
    .secondBlock {
      margin-top: 142px;
      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .infographics {
    .left {
      padding-left: 0;
      .bgCircle {
        left: 18%;
      }
      .blockA,
      .blockD {
        width: 200px;
      }
    }
    .right {
      padding-left: 24px;
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .infographics {
    .left,
    .right {
      max-width: 454px;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
    }
    .right {
      margin-top: 32px;
      text-align: center;
      .button {
        width: 100%;
      }
    }
    .left {
      .bgCircle {
        top: 50%;
        left: 50%;
        margin-top: -105px;
        margin-left: -105px;
      }
      .row {
        justify-content: center;
        .blockA,
        .blockD {
          width: 66%;
          max-width: 200px;
        }
        .blockB,
        .blockC {
          width: 33%;
          max-width: 124px;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeSmall) {
  .infographics {
    padding-top: 120px;
    .right {
      .button {
        width: 100%;
        max-width: 380px;
        margin: 24px auto 0;
      }
    }
    .secondBlock {
      margin-top: 115px;
      img {
        margin-top: 40px;
      }
    }
  }
}
