@import "styles/config";

.table {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  border-collapse: collapse;
  color: #262627;
  thead {
    tr {
      th {
        height: 59px;
        padding: 0 32px;
        background-color: #f6f9ff;
        font-weight: 600;
        text-align: left;
        &:first-child {
          border-top-left-radius: 10px;
        }
        &:last-child {
          border-top-right-radius: 10px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        height: 59px;
        padding: 0 32px;
        border-bottom: 1px solid #e5eeff;
      }
      &:hover {
        td {
          background-color: #f6f9ff;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .table {
    thead,
    tbody {
      tr {
        th,
        td {
          height: 50px;
          padding: 0 16px;
          font-size: 15px;
        }
      }
    }
  }
}