@import "styles/config";

.form {
  text-align: center;
  label {
    margin-bottom: 1rem;
  }
  button {
    min-width: 300px;
    margin-top: 2rem;
  }
}

.dialogContent {
  svg {
    width: 48px;
    height: 48px;
  }
  .textLarge {
    margin-top: 20px;
    margin-bottom: 8px;
    color: $colorFontDark;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
  }
}

@media (max-width: $viewportSizeMedium) {
  .form {
    button {
      width: 100%;
      min-width: initial;
      margin-top: 1rem;
    }
  }
}
