@import "styles/config";

.main {
  width: 100%;
  margin-top: -5.5rem;
  overflow: hidden;
  background-image:
    linear-gradient(to right, #fff, #fff 50%, transparent 50%, transparent),
    linear-gradient(#02a0ed, #017fdf 30%, #0267d5 60%, #035ed0);
  .wrapper {
    max-width: 1792px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    background-image: url(/images/main-block-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    .container {
      align-items: center;
      padding-top: 9rem;
    }
  }
  .left {
    max-width: 31rem;
    .title {
      color: $colorFontDark;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1;
    }
    .subtitle {
      margin-top: 1rem;
      color: #035ed0;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.4;
    }
    .description {
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.5;
    }
    .button {
      min-width: 14.5rem;
      margin-top: 1.875rem;
      text-align: center;
    }
  }
  .right {
    img {
      display: block;
      max-width: 120%;
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .main {
    min-height: 0;
    .wrapper {
      .container {
        padding-top: 5rem;
      }
    }
    .left {
      width: 50%;
      min-width: 50%;
      padding-right: 2rem;
      .title {
        font-size: 2.5rem;
      }
      .subtitle {
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .main {
    .left {
      .title {
        font-size: 1.5rem;
      }
      .subtitle {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }
      .description {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 0.875rem;
      }
      .button {
        margin-top: 0.5rem;
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .main {
    .wrapper {
      background: #fff;
      .container {
        flex-direction: column-reverse;
        padding: 0;
      }
    }
    .left,
    .right {
      width: 100%;
      padding-right: 16px;
      padding-left: 16px;
    }
    .left {
      display: flex;
      flex-direction: column;
      max-width: 480px;
      margin: 4em auto 0;
      padding: 0 16px;
      text-align: center;
    }
    .right {
      padding-top: 5rem;
      background-image: url(/images/main-block-bg-m.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      img {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
      }
    }
  }
}
