@import "styles/config";

.container {
  position: relative;
  width: 100%;
  max-width: 609px;
  aspect-ratio: 1218 / 818;
}

.background {
  width: 100%;
  height: 100%;
  padding-top: 23px;
}

.image,
.background {
  position: absolute;
  top: 0;
  left: 0;
}
.background {
  z-index: 1;
}

.image {
  z-index: 3;
}

.animation {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  background: #eef6fe;
  mask-image: url(/images/accounts-payable-workflow-export-with-original-document-bg.svg);
  mask-repeat: no-repeat;
  mask-mode: alpha;
  mask-position: center;
  mask-size: 80%;
  mask-origin: border-box;
}

@media screen and (min-width: $viewportSizeMedium) {
  .container {
    height: 409px;
  }
}

@media screen and (min-width: $viewportSizeLarge) {
  .container {
    max-width: 50%;
  }

  .animation {
    mask-size: 100%;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .container {
    max-width: 609px;
    height: 409px;
  }

  .image {
    height: 409px;
  }

  .animation {
    mask-position: bottom right;
  }
}
