@import "styles/config";

.container {
  position: relative;
  width: 100%;
  max-width: 602px;
  padding-top: 9px;
  overflow: hidden;
}

.background {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 383px;
}

.animation {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  max-height: 100%;
  transform: translateX(-50%);
  background-color: #eff5ff;
  mask-image: url(/images/invoice-and-receipt-ocr-ai-tax-rate-bg.svg);
  mask-repeat: no-repeat;
  mask-mode: alpha;
  mask-position: center;
  mask-size: 80%;
}

.image {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 13px;
  max-width: 100%;
  height: 100%;
  max-height: 382px;
}

@media screen and (min-width: $viewportSizeMedium) {
  .animation {
    mask-size: contain;
    mask-origin: border-box;
    mask-position: top center;
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .background {
    max-width: 601.63px;
  }
}
