@import "styles/config";

.customerStories {
  padding: 4rem 0;
  h1 {
    margin-bottom: 2rem;
  }
  .items {
    display: flex;
    align-items: stretch;
    margin: 0 -1rem;
    .item {
      width: 50%;
      margin: 0 1rem;
      a {
        display: block;
        height: 100%;
        padding: 2rem;
        border: 1px solid #e0e0e0;
        border-radius: 0.5rem;
        font-size: 1.125rem;
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .customerStories {
    .items {
      flex-direction: column;
      margin: 0;
      .item {
        width: 100%;
        margin: 0 0 2rem;
      }
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .customerStories {
    padding-top: 1rem;
    padding-bottom: 2rem;
    .items {
      .item {
        a {
          padding: 1rem;
          font-style: 1rem;
        }
      }
    }
  }
}
