@import "styles/config";

.main {
  width: 100%;
  margin-top: -5.5rem;
  overflow: hidden;
  background-image: url(/images/main-block-container-bg.png);
  background-size: 100%;
  .container {
    position: relative;
    min-height: 622px;
    background-color: #fff;
    background-image: url(/images/main-block-bg-001.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    :global(.row) {
      animation-delay: 400ms;
    }
  }
  .left {
    padding-top: 11.5rem;
    .textLarge {
      width: 33rem;
      color: $colorFontDark;
      font-size: 56px;
      font-weight: 600;
      line-height: 1.2;
      span {
        color: $colorAdditional;
      }
      img {
        width: 17px;
        vertical-align: middle;
      }
    }
    .textSmall {
      margin-top: 0.75rem;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.8;
    }
    .button {
      min-width: 14.5rem;
      margin-top: 1.875rem;
      text-align: center;
    }
  }
  .right {
    padding-top: 9.5rem;
    img {
      display: block;
      max-width: 120%;
    }
  }
}

@media (max-width: $viewportSizeExtraLarge) {
  .main {
    min-height: 0;
    .container {
      min-height: 0;
    }
    .left {
      width: 50%;
      min-width: 50%;
      padding-top: 9.5rem;
      padding-right: 2rem;
      .textLarge {
        width: 100%;
        font-size: 44px;
      }
      .textSmall {
        width: 100%;
      }
    }
    .right {
      padding-top: 7.5rem;
    }
  }
}

@media (max-width: $viewportSizeLarge) {
  .main {
    .left {
      padding-top: 8rem;
      .textLarge {
        font-size: 34px;
      }
      .textSmall {
        font-size: 16px;
      }
    }
    .right {
      padding-top: 5.5rem;
    }
  }
}

@media (max-width: $viewportSizeMedium) {
  .main {
    margin-top: -56px;
    background: none;
    .container {
      height: auto;
      padding: 0;
      background: none;
      :global(.row) {
        flex-direction: column-reverse;
      }
    }
    .left,
    .right {
      width: 100%;
      padding-right: 16px;
      padding-left: 16px;
    }
    .left {
      display: flex;
      flex-direction: column;
      max-width: 480px;
      margin: 4em auto 0;
      padding: 0 16px;
      .textLarge,
      .textSmall {
        text-align: center;
      }
      .textLarge {
        font-size: 32px;
      }
      .button {
        width: 420px;
        max-width: 100%;
        margin: 24px auto 0;
      }
    }
    .right {
      padding-top: 5rem;
      background-image: url(/images/main-block-bg-m.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      img {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        transform: translate(31px, 0);
      }
    }
  }
}
