@import "styles/config";

.left.left {
  margin-right: auto;
}

.right.right {
  img {
    max-width: 100%;
    margin-left: -26px;
  }
}

@media screen and (min-width: $viewportSizeMedium) {
  .right.right {
    img {
      margin-left: initial;
    }
  }
}

@media screen and (min-width: $viewportSizeExtraLarge) {
  .right.right {
    width: initial;
    margin-top: 161px;
  }

  .feature:nth-of-type(1) {
    padding: 33px 0 40px;
  }

  .feature:nth-of-type(2) {
    padding: 41px 0 27px;
  }

  .feature:nth-of-type(3) {
    padding: 51px 0 77px;
  }
}

@media screen and (max-width: 767px) {
  .right.right {
    img {
      max-width: 100% !important;
      margin-left: initial !important;
    }
  }
}
